<div class="bg text-black" id="error-message-container"></div>

<div class="container" id="container">
  <div class="form-container sign-up">

   
    <form id="registrationForm" action="/signup" method="post">
      <h1>Create Account</h1>
      
      

      <div class="form-group">
          <input type="text" id="username" name="username" placeholder="Username">
          <p id="nameError"></p>
      </div>
      <div class="form-group">
          <input type="email" id="email" name="email" placeholder="Email">
          <p id="emailError"></p>
      </div>
      <div class="form-group">
          <input type="password" id="password" name="password" placeholder="Password">
          <p id="passwordError"></p>
      </div>
      <div class="form-group">
          <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirm password">
          <p id="confirmPasswordError"></p>
      </div>
      <div class="form-group">
         <input type="Number" id="mobile" name="mobile" placeholder="Enter your Mobile number">
         <p id="mobileError"></p>
     </div>
      <button type="submit" id="signupForm">Sign Up</button>
      <!-- <% if (typeof message !== 'undefined') { %>
         <h4><%= message %></h4>
      <% } %> -->
  </form>
  
  </div>
  <div class="form-container sign-in">
      <form method="post" action="/login">
          <h1>Log In</h1>
          <div class="social-icons">
          </div>
     
          <input type="email"  name="email" placeholder="Email">
          <input type="password" name="pass" placeholder="Password">
          <div class="form-group text-center">
            <a class="text-muted" href="/forgetPasswordEmail">Forgot password?</a>
        </div>

          
          <button type="submit">Log In</button>
      </form>
  </div>
  <div class="toggle-container">
      <div class="toggle">
          <div class="toggle-panel toggle-left">
              <h1>Register Now!</h1>
              <p>Enter your personal details to use all of site features</p>
              <button class="hidden" id="login">Log In</button>
          </div>
          <div class="toggle-panel toggle-right">
              <h1>Welcome, Friend!.</h1>
              <p>Enter your personal details to use all of site features</p>
              <button class="hidden" id="register"></a>Sign Up</button>
          </div>
      </div>
  </div>
</div>
<style>
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    background-image: url('/assests/img/loginbg.jpg');
    background-size: cover; 
}
span{
    color: red;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
}

body{
    background-color: #c9d6ff;
    background: linear-gradient(to right, #C33764  , #1D2671);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.container{
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
}

.container p{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 20px 0;
}

.container span{
    font-size: 12px;
}

.container a{
    color: #333;
    font-size: 13px;
    text-decoration: none;
    margin: 15px 0 10px;
}

.container button{
    background-color: rgb(0, 0, 0);
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}

.container button:hover{
    background-color: #de0c0c;
}

.container button.hidden{
    background-color: transparent;
    border-color: #fff;
}

.container form{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    height: 100%;
}

.container input{
    background-color: #eee;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;
}

.form-container{
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.sign-in{
    left: 0;
    width: 50%;
    z-index: 2;
}

.container.active .sign-in{
    transform: translateX(100%);
}

.sign-up{
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.container.active .sign-up{
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: move 0.6s;
}

@keyframes move{
    0%, 49.99%{
        opacity: 0;
        z-index: 1;
    }
    50%, 100%{
        opacity: 1;
        z-index: 5;
    }
}


.toggle-container{
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    border-radius: 150px 0 0 100px;
    z-index: 1000;
}

.container.active .toggle-container{
    transform: translateX(-100%);
    border-radius: 0 150px 100px 0;
}

.toggle{
    background-color: linear-gradient(to right, #cecbcb, #2b99d0);
    height: 100%;
    background:linear-gradient(to right, #cecbcb, #2b99d0);
    color: #fff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.container.active .toggle{
    transform: translateX(50%);
}

.toggle-panel{
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    text-align: center;
    top: 0;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.toggle-left{
    transform: translateX(-200%);
}

.container.active .toggle-left{
    transform: translateX(0);
}

.toggle-right{
    right: 0;
    transform: translateX(0);
}

.container.active .toggle-right{
    transform: translateX(200%);
}
#verify-email-container {
    width: 100%; /* Set the width to 100% */
    text-align: center; /* Center align the content horizontally */
    position: absolute; /* Position absolutely */
    top: 0; /* Align to the top */
}
#otp-verification-container {
    width: 100%; /* Set the width to 100% */
    text-align: center; /* Center align the content horizontally */
    position: absolute; /* Position absolutely */
    top: 0; /* 
    Align to the top */
    
}
.underline {
    text-decoration: none; /* Underline the text */
}


#changePasswordHeading {
    text-align: center;
}
</style>
<script>

    const container = document.getElementById('container');
const registerBtn = document.getElementById('register');
const loginBtn = document.getElementById('login');

registerBtn.addEventListener('click', () => {
    container.classList.add("active");
});

loginBtn.addEventListener('click', () => {
    container.classList.remove("active");
});


   
document.getElementById('signupForm').addEventListener('click', async function (event) {
    event.preventDefault(); // Prevent the default form submission

    // Get user-entered values
    var name = document.getElementById('username').value;
    var email = document.getElementById('email').value;
    var password = document.getElementById('password').value;
    var mobile = document.getElementById('mobile').value;
    var confirmPassword=document.getElementById('confirmPassword').value;

 if (!name || !email || !password || !confirmPassword || !mobile) {
        alert('All fields are required');
        return;
    }

    if (password !== confirmPassword) {
        alert('Passwords do not match');
        return;
    }
   
    try {
        // Send form data to the server using fetch or another AJAX method
        const response = await fetch('/signup1', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ name: name, mobile: mobile, email: email, password: password }),
        });

        if (response.ok) {
            const data = await response.json();
            console.log(data);
            if (!data.success) {
                console.error("Data failed to submit");
            } else {
                console.log("Data submitted successfully");
                window.location.href='/getOtpPage'
            }
        } else {
            console.error("Server responded with error:", response.status);
        }
    } catch (error) {
        console.error('Error occurred during form submission:', error);
    }
});


</script>